* {
  border: 0;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

:root {
  --white: hsl(0, 0%, 100%);
  --yellow: hsl(47, 88%, 63%);
  --grey500: hsl(0, 0%, 42%);
  --grey950: hsl(0, 0%, 7%);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
}

.card {
  top: 50%;
  left: 50%;
  padding: 24px;
  display: flex;
  position: absolute;
  width: fit-content;
  height: fit-content;
  border-radius: 25px;
  flex-direction: column;
  justify-content: start;
  background-color: var(--white);
  border: 1px solid var(--grey950);
  transform: translate(-50%, -50%);
  box-shadow: 8px 8px 0 0 var(--grey950);
}

.blog-image {
  width: max-content;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.content {
  margin-top: 12px;
  margin-bottom: 12px;
}

.category {
  background-color: var(--yellow);
  border-radius: 4px;
  padding: 4px 12px;
  margin-bottom: 6px;
  width: fit-content;
  font-family: "Figtree";
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0;
}

.date {
  color: var(--grey950);
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Figtree";
  line-height: 150%;
  letter-spacing: 0;
}

.title {
  color: var(--grey950);
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 800;
  font-family: "Figtree";
  line-height: 150%;
  letter-spacing: 0;
}

.title:hover {
  color: #f4d04e;
  cursor: pointer;
}

.description {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Figtree";
  color: var(--grey500);
  line-height: 150%;
  letter-spacing: 0;
}

.author {
  margin-top: 12px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.author-avatar {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border-radius: 10px;
}

.author-name {
  color: var(--grey950);
  font-size: 14px;
  font-weight: 800;
  font-family: "Figtree";
  line-height: 150%;
  letter-spacing: 0;
}

.attribution {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
