@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  background-color: hsl(47, 88%, 63%);
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  padding: 10px;
  border-radius: 25px;
}

.image-container {
  border-radius: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
